<%
  # Collect the root items.
  # Refinery::Menu is smart enough to remember all of the items in the original collection.
  if (roots = local_assigns[:roots] || (collection ||= @menu_pages).roots).present?
    dom_id ||= 'menu'
    css = [(css || 'menu'), 'clearfix'].flatten.join(' ')
    hide_children = RefinerySetting.find_or_set(:menu_hide_children, false) if hide_children.nil?
-%>
<nav id='<%= dom_id %>' class='<%= css %>'>
  <ul>

    <li class="first"> <%= link_to "", "/" , :class=> "menu_button", :title=>"Главная" %></li>
    <li class="last"> <%= link_to "", "/about" , :class=> "menu_button", :title=>"О компании"%></li>
    <li class="contactl"> <%= link_to "", "/contact" , :class=> "menu_button", :title=>"Контакты"%></li> 
  </ul>
</nav>
<% end -%>
