<section class="main_info_block">
	<ul id="questions">
	    <% @questions.each_with_index do |question, index| %>
	      <li>
		      <% if [4].include?(index) then %>
		      <a href="/contact" class="js_part<%=index %>"> 
			    <% else %> 			    
				  <a href="<%= url_for question_path(question)%>" class="js_part<%=index %>"> 
					<% end %>
		      <%= image_fu question.image1, nil %>
		      <div class="question_text">
	        <h3><%=raw question.title %></h3>
	        <%=raw question.text1 %>
	        <% if [4].include?(index) then %>
	          <div style="padding-top: 8px;">
				     <%= link_to "Хочу", "/contact" , :class=> "button"%>
				     </div>
		      <% end %>
	        </div>
	        </a>
	      </li>
	    <% end %>			  
		</ul>		
	</section>
	
<section class="wrapper">
	<% @questions.each_with_index do |question, index| %>
		<section class="content js_text<%=index %> js_text <% if [0].include?(index) then %>hover<% end %> presentation_block" style="display: none;" >	
			<a href="<%= url_for question_path(question)%>"> 
			<div class="presentation_img">
			  <%= image_fu question.image2, nil %>
			</div>
			<%=raw question.text2 %>
			</a>
		</section>
	<% end %>
</section>	

<script src="../javascripts/jquery.js"></script>
<script src="../javascripts/mobilyslider.js"></script>
<script>
$(".js_part0").hover(
  function () {
	  $(".js_text").removeClass("hover");
    $(".js_text0").addClass("hover");
  },
  function () {

  }
);

$(".js_part1").hover(
  function () {	  
    $(".js_text").removeClass("hover");
    $(".js_text1").addClass("hover");
  },
  function () {

  }
);

$(".js_part2").hover(
  function () {
	   $(".js_text").removeClass("hover");
     $(".js_text2").addClass("hover");
  },
  function () {

  }
);

$(".js_part3").hover(
  function () {
	   $(".js_text").removeClass("hover");
     $(".js_text3").addClass("hover");
  },
  function () {

  }
);

$(".js_part4").hover(
  function () {
	   $(".js_text").removeClass("hover");
     $(".js_text4").addClass("hover");
  },
  function () {

  }
);
</script>