<section class="main_info_block">
	<ul id="questions">
	    <% @questions.each_with_index do |question, index| %>
	      <li>
		      <% if [4].include?(index) then %>
		      <a href="/contact" class="js_part<%=index %>"> 
			    <% else %> 			    
				  <a href="<%= url_for question_path(question)%>" class="js_part<%=index %> p_style"> 
					<% end %>
		      <%= image_fu question.image1, nil %>
		      <div class="question_text">
	        <h3><%=raw question.title %></h3>
	        <%=raw question.text1 %>
	        <% if [4].include?(index) then %>
	          <div style="padding-top: 8px;">
				     <%= link_to "Хочу", "/contact" , :class=> "button"%>
				     </div>
		      <% end %>
	        </div>
	        </a>
	         <div class="js_triangle<%=index %> js_triangle <% if [0].include?(index) then %>hover<% end %> " style="display: none;" >
		     <div class="triangle_l1">		     	
		     </div>
			<div class="block_l1">		     	
		     </div>
		       
		</div>
	      </li>
	    <% end %>			  
		</ul>
				
	</section>	
<div class="triangle_box"></div>
<script src="../javascripts/jquery.js"></script>
<script src="../javascripts/mobilyslider.js"></script>
<script>
$(".js_part0").hover(
  function () {
    $(".js_triangle").removeClass("hover");
    $(".js_triangle0").addClass("hover");
    
  },
  function () {

  }
);

$(".js_part1").hover(
  function () {	  
    $(".js_triangle").removeClass("hover");
    $(".js_triangle1").addClass("hover");
  }

);

$(".js_part2").hover(
  function () {
     $(".js_triangle").removeClass("hover");
     $(".js_triangle2").addClass("hover");
  }

);

$(".js_part3").hover(
  function () {
     $(".js_triangle").removeClass("hover");
     $(".js_triangle3").addClass("hover");
  }

);

$(".js_part4").hover(
  function () {
    $(".js_triangle").removeClass("hover");
    $(".js_triangle4").addClass("hover");
  }
);
</script>