<section class="info_menu">
	<ul id="questions">
	    <% @questions.each_with_index do |question, index| %>
	      <li class="<% if [4].include?(index) then %>m_hover<% end %>">
		      <% if [4].include?(index) then %>
		      <a href="/contact" class="js_part<%=index %>" > 
			    <% else %> 			    
				  <a href="<%= url_for question_path(question)%>" class="js_part<%=index %> p_style "> 
					<% end %>
		      <div class="question_text">
	        <h3><%=raw question.title %></h3>
	        <% if [4].include?(index) then %>
		      <% end %>
	        </div>
	        </a>
	         <div class="triangle_l2 js_triangle<%=index %> js_triangle <% if [4].include?(index) then %>hover<% end %> " style="display: none;" ></div>
	      </li>
	    <% end %>			  
		</ul>		
	</section>
	
<div class="wrapper">
<% content_for :body_content_left do %>
  <div class='inquiries'>
    <%=raw @page[Page.default_parts.first.to_sym] %>

    <%= form_for @inquiry do |f| %>
      <%= render :partial => "/shared/admin/error_messages",
                 :locals => {
                   :object => @inquiry,
                   :include_object_name => true
                 } %>
      <div class='field'>
	      <label>Имя(обязательно)</label>
        <%= f.text_field :name %>
      </div>
      <div class='field'>
	      <label>Email(обязательно)</label>
        <%= f.text_field :email %>
      </div>
      <div class='field'>
	      <label>Телефон</label>
        <%= f.text_field :phone %>
      </div>
      <div class='field message_field'>
	      <label>Вопрос или сообщение</label>
        <%= f.text_area :message, :rows => 8 %>
      </div>
      <div class='actions'>
        <%= f.submit "Отправить" %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if RefinerySetting.find_or_set(:show_contact_privacy_link, false) %>
      </div>
      <div class="clear"></div>
    <% end %>

  </div>
<% end %>
<%= render :partial => "/shared/content_page" %>
</div>
<script src="../javascripts/jquery.js"></script>
<script src="../javascripts/mobilyslider.js"></script>
<script>
$(".js_part0").hover(
  function () {
    $(".js_triangle").removeClass("hover");
    $(".js_triangle0").addClass("hover");
    
  },
  function () {

  }
);

$(".js_part1").hover(
  function () {	  
    $(".js_triangle").removeClass("hover");
    $(".js_triangle1").addClass("hover");
  }

);

$(".js_part2").hover(
  function () {
     $(".js_triangle").removeClass("hover");
     $(".js_triangle2").addClass("hover");
  }

);

$(".js_part3").hover(
  function () {
     $(".js_triangle").removeClass("hover");
     $(".js_triangle3").addClass("hover");
  }

);

$(".js_part4").hover(
  function () {
    $(".js_triangle").removeClass("hover");
    $(".js_triangle4").addClass("hover");
  }
);
</script>